.display-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:20px;
}
.time_group_button{
  background-color:tomato;
}
@media screen and (max-width:642px){
  .display-flex{
    flex-direction: column;
    align-content: space-between;
    height: 90px;
  }
}