
.swiper {
  height: 350px;
  width:100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width:100%;

  /* Center slide text vertically */

  display: flex;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner_section{
  display: flex;
  margin: 40px auto;
  margin: 40px;
  height: 300px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
}
.banner_left{
  box-shadow: none;
}
.banner_right{
  margin-left:30px;
  text-align: left;
  width:600px;
  
}
@media screen and (max-width:1062px){
  .banner_section{
    justify-content: left;
  }
  .banner_right{
    margin-left:0px;
    margin-top: 30px;
  }
}
@media screen and (max-width:590px){
  div.example{
    margin-bottom: 30px;
  }
}